.app__title {
  display: flex;
  margin-bottom: var(--m-desktop);
}

.app__title h1 {
  position: relative;
  font-weight: 700;
  font-size: 36px;
  line-height: 130%;
}

.app__title h1::before {
  content: '876';
  position: absolute;
  top: 0;
  left: 140px;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  color: var(--orange);
}

@media screen and (max-width: 768px) {
  .app__title {
    margin-bottom: var(--m-desktop);
  }
}

@media screen and (max-width: 430px) {
  .app__title {
    margin-bottom: var(--m-mobile);
  }
  .app__title h1 {
    font-size: 26px;
    margin-bottom: var(--m-mobile);
  }
  .app__title h1::before {
    font-size: 14px;
    left: 100px;
  }
}
