.heading {
  display: flex;
}

.heading h1 {
  position: relative;
  font-weight: 700;
  font-size: 36px;
  line-height: 130%;
}

.heading h1::before {
  content: '876';
  position: absolute;
  top: 0;
  left: 103%;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  color: var(--orange);
}

@media screen and (max-width: 430px) {
  .heading h1 {
    font-size: 26px;
    margin-bottom: var(--m-mobile);
  }
  .heading h1::before {
    font-size: 14px;
  }
}
