.app__navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 94px;
  padding: 1.5rem 3rem;
  margin-bottom: var(--xs-desktop);
}

.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 2rem;
}

.app__navbar-logo img {
  width: 32px;
  height: 32px;
}

.app__navbar-logo span {
  font-family: var(--font-alt);
  color: white;
  font-size: 34px;
  margin-left: 9px;
}

.app__navbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__navbar-menu li {
  margin: 0 0.8rem;
  cursor: pointer;
}

.app__navbar-menu li:hover .app__navbar-icon path {
  fill: var(--orange);
}

.app__navbar-icon {
  width: 32px;
  height: 32px;
}

.app__navbar-smallscreen {
  display: none;
}

.app__navbar-smallscreen_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--header-catalog);
  transition: 0.5s ease;
  flex-direction: column;
  z-index: 10;
}

.app__navbar-smallscreen_overlay .overlay__close {
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 33px;
  right: 20px;
}

.overlay__burger {
  display: none;
}

.app__navbar-smallscreen-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 94px;
  background-color: var(--dark-gray);
  color: white;
  height: 100%;
  width: 100%;
}
.app__navbar-smallscreen-menu a {
font-size: 20px;
line-height: 130%;
color: var(--white);
}
.app__navbar-smallscreen-menu a:hover {
  text-decoration: underline;
  }
.app__navbar-smallscreen-menu a:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .app__navbar {
    padding: 1.9rem 1.5rem;
  }
  .app__navbar-logo {
    margin-right: 1rem;
  }

  .app__navbar-icon {
    width: 24px;
    height: 24px;
  }

  .app__navbar-menu {
    display: block;
  }
  .app__navbar-icon_login {
    display: none;
  }
  .app__navbar-icon_favorites {
    display: none;
  }

  .app__navbar-smallscreen {
    display: block;
  }

  .overlay__burger {
    display: block;
    cursor: pointer;
  }
}

@media screen and (max-width: 410px) {
  .app__navbar-logo img {
    width: 18px;
    height: 18px;
  }
  .app__navbar-logo span {
    font-size: 18px;
  }
}

@media screen and (max-width: 375px) {
  .app__navbar {
    margin-bottom: var(--xs-mobile);
  }
}
