.accordion {
  margin-bottom: var(--s-mobile);
  border-bottom: 1px dashed #707070;
}
.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
  margin-bottom: var(--s-mobile);
  color: var(--white);
  transition: all 0.3s ease;
  text-decoration: none;
  cursor: pointer;
}
.accordion-header svg {
  margin-left: 10px;
  transition: all 0.3s ease;
  width: 16px;
  height: 16px;
}
.accordion-header__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  color: var(--white);
  white-space: nowrap;
}

.accordion-content__inner {
  position: relative;
  padding: 0 0 var(--xs-mobile) 0;
  overflow: hidden;
  color: var(--white);
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;
  transition: all 0.3s ease;
}

.accordion__active svg {
  transform: rotate(180deg);
}
.accordion-contentSlideDown {
  height: 0;
  transition: all 0.3s ease;
  opacity: 0;
}
.accordion__active .accordion-contentSlideDown {
  height: auto;
  transition: all 0.3s ease;
  opacity: 1;
}
