.container {
  max-width: 1195px;
  padding: 0 15px;
  margin: 0 auto;
  overflow-x: hidden;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__bg {
  background: black;
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

.p__opensans {
  font-family: var(--font-alt);
  color: var(--white);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.link-blue {
  color: var(--link);
}
.link-blue:hover {
  text-decoration: underline;
}
.link-blue:focus {
  text-decoration: underline;
}
.link-blue:disabled {
  text-decoration: none;
  color: var(--gray);
}

@media screen and (max-width: 376px) {
  .p__opensans {
    font-size: 12px;
  }
}
